header.main_header_area
  .header_top
    .container
      .header_top_inner
        .pull-left
          a(rel='nofollow' href='https://www.facebook.com/kyrgyzguidedtours/')
            i.fa.fa-facebook
            | facebook
          a.none(rel='nofollow' href='https://twitter.com/KgDestinations')
            i.fa.fa-twitter
            | twitter
          a.none(rel='nofollow' href='https://pinterest.com/silkroadtrip.kg@mail.com')
            i.fa.fa-pinterest
            | pinterest
          a(rel='nofollow' href='https://www.instagram.com/kyrgyzguidedtours/?hl=ru')
            i.fa.fa-instagram
            | instagram
          a(rel='nofollow' href='https://youtube.com/channel/UCPkSquxS_6F8vJ2CJ-AZhZA')
            i.fa.fa-youtube
            | youtube
          a(rel='nofollow' href='tel:+996312883644')
            i.fa.fa-mobile
            | +996 701 799 983
          a(rel='nofollow' href='mailto:silkroadtrip.kg@mail.com')
            i.fa.fa-envelope
            | kyrgyzguidedtours@gmail.com
  .header_menu
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='./index.html')
            img(src='img/logo.png' alt='kyrgyz guided tours.')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse(class='id=')
          ul.nav.navbar-nav
            li
              a(href='#' title='home') home
            li
              a.cursor(title='about') about
              ul.submenu
                li
                  a(href='./pages/about/kyrgyzstan.html' title='About Kyrgyzstan') About Kyrgyzstan
                hr
                li
                  a(href='./pages/about/about-us.html' title='Who we are') Who we are
                hr
                li
                  a(href='./pages/about/guestbook.html' title='Guest book') Guest book
            li
              a#click.cursor(href='./pages/tours/tour.html' title='tours') tours
              //
                <ul class="submenu">
                <li><a>Adventure</a>
                <ul class="submenu-sec-lev">
                <li><a href="AdventurousKyrgyzstan.html">RAFTING + PARAGLIDING</a></li><hr>
                <li><a href="rafting.html">RAFTING IN CHUY RIVER</a></li>
                </ul>
                </li>
                <hr>
                <li><a class="cursor">Central Asia</a>
                <ul class="submenu-sec-lev">
                <li><a href="AdventurousKyrgyzstan.html">RAFTING + PARAGLIDING</a></li><hr>
                <li><a href="rafting.html">RAFTING IN CHUY RIVER</a></li><hr>
                <li><a href="UzbekistanKyrgyzstan11days.html">UZBEKISTAN, KYRGYZSTAN</a></li><hr>
                <li><a href="UzbekistantadjikistanKyrgyzstanKazakhstan_22days.html">UZBEKISTAN,TADJIKISTAN</a></li><hr>
                <li><a href="UzbekistanTadjikistanKyrgyzstan_18days.html">UZBEKISTAN, TADJIKISTAN</a></li><hr>
                <li><a href="KyrgyzstanChinaUzbekistan16days.html">KYRGYZSTAN, CHINA</a></li>
                </ul>
                </li>
                <hr>
                <li><a class="cursor">Cultural</a>
                <ul class="submenu-sec-lev">
                <li><a href="AdventureToursinKyrgyzstan.html">Best adventure tours</a></li><hr>
                <li><a href="Art_and_Nomad's_Ethnography_10_days.html">Art & Nomad’s </a></li><hr>
                <li><a href="Discovering_Nomadic_Land_of_Kyrgyzstan.html">Discovering Nomadic Land</a></li><hr>
                <li><a href="DiscoveringNomadicLandofKyrgyzstan.html">Discovering Nomadic Land</a></li><hr>
                <li><a href="EcoNomadToursinKyrgyzstan_8days.html">ECO NOMAD TOURS</a></li><hr>
                <li><a href="NomadiclifeofwholeKyrgyzstan.html">NOMADIC LIFE OF WHOLE</a></li>
                </ul>
                </li>
                <hr>
                <li><a class="cursor">Horse riding</a>
                <ul class="submenu-sec-lev">
                <li><a href="Horserideautotrip10days.html">HORSE RIDING + AUTO TRIP</a></li><hr>
                <li><a href="HorserideinJetyOguzGorge7days.html">HORSEBACK RIDING IN DJETY</a></li><hr>
                <li><a href="HorseridetoalpinelakeSonKul12days.html">HORSEBACK RIDING</a></li><hr>
                <li><a href="HorseridetoKolTorLake7days.html">HORSEBACK RIDING TO</a></li><hr>
                <li><a href="HorseridetoSaryChelekLake9days.html">HORSE RIDE TO SARY CHELEK</a></li>
                </ul>
                </li>
                <hr>
                <li><a href="MountainBiking_12days.html">Mountain Biking</a></li>
                <hr>
                <li><a class="cursor">Skiing & Splitboarding</a>
                <ul class="submenu-sec-lev">
                <li><a href="SnowMobileTours.html">Snow Mobile Backcountry</a></li><hr>
                <li><a href="SpiritedBackcountrySkiinginkyrgyzland.html">Spirited Back country</a></li><hr>
                <li><a href="SuusamyrCatSkiing.html">Suusamyr Cat Skiing</a></li><hr>
                <li><a href="YurtBasedSkiingTour.html">YURT BASED SKIING</a></li>
                </ul>
                </li>
                <hr>
                <li><a href="YurtBasedSkiingTour.html">Yurt Camps</a></li>
                </ul>
            li
              a.cursor(href='./pages/excursions/excursions.html' title='Excursions') Excursions
              //
                <ul class="submenu">
                <li><a href="excursion1.html">Bishkek city tour</a></li>
                <hr>
                <li><a href="excursion2.html">Ala Archa</a></li>
                <hr>
                <li><a href="excursion3.html">Samshy</a></li>
                <hr>
                <li><a href="excursion4.html">Issykkul lake</a></li>
                <hr>
                <li><a href="excursion5.html">Rafting</a></li>
                <hr>
                <li><a href="excursion6.html">Paragliding</a></li>
                <hr>
                <li><a href="excursion7.html">Sonkul lake</a></li>
                <hr><li><a href="excursion8.html">4 days' Issyk-Kul Lake</a></li>
                <hr>
                </ul>
            li
              a.cursor(title='Transportations') Transportations
              ul.submenu
                li
                  a(href='./pages/service/service.html' title='Our Transports') Our Transports
                hr
                li
                  a(href='./pages/service/CarRental.html' title='Car Rental') Car Rental
                hr
            li
              a.cursor(title='') gallery
              ul.submenu
                li
                  a(href='./pages/gallery/gallery.html' title='Photo') Photo
                hr
                li
                  a(href='./pages/gallery/video.html' title='Video') Video
                hr
            li
              a(href='./pages/contact/contact-us.html' title='Contact Us') Contact Us
          button.btn.btn-setting(type='button' data-toggle='modal' data-target='.bd-example-modal-lg') book now
          a.btn.btn-danger.font-weight-bold(href='visa.html' style='padding: 9px 5px; margin-bottom: 5px; color: #000; text-transform: uppercase; margin-left:2px;') visa
        // /.navbar-collapse
      // /.container-fluid
